[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyserial = "*"
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
psycopg2-binary = "*"
bcrypt = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pylint = "*"

[dev-packages]
mypy = "*"
types-requests = "*"
types-pyserial = "*"

[requires]
python_version = "3.12"
